<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lalocal.lalocal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 分享权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <!--  android:screenOrientation="portrait"-->
   <!-- android:hardwareAccelerated="false"-->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.HomeActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PasswordForget2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserProtocolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PasswordForget1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AccountEidt1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AccountEidt2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EmailBoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SpecialDetailsActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BigPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ArticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductCheckDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.OrderActivity"/>

        <activity android:name=".activity.ArticleTestAct"/>

        <activity android:name=".activity.TestAct"/>


        <!--分享-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1104646053" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.TravelPersonActivity" />
        <activity android:name=".activity.BaseActivity"/>
        <!--//fabric config-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e56a6336a6ae8ee217f64a62e29bd01203f377a0" />
        <meta-data android:name="category" android:value="${CATEGORY}"/>
    </application>

</manifest>